<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.UserMapper">

    <!--
        mapper 接口和映射文件要保证两个一致
        1. mapper 接口的全类名和映射文件 <mapper> 标签中的 namespace 一致
        2. mapper 接口中的方法名要和映射文件中的 sql 标签 ( 例如: <insert> ) 的 id 保持一致
    -->

    <insert id="insertUser">
        insert into t_user values(null, "admin", "123456", 20, "男", "admin@126.com")
    </insert>

    <delete id="deleteUser">
        delete from t_user where id = 2
    </delete>

    <update id="updateUser">
        update t_user set username='zhangsan', password='8888' where id = 3
    </update>

    <!--
        注意: 如果未在 mybatis-config.xml 文件中为 UserDTO 类配置别名，
        则 resultType 中需要配置 UserDTO 的全类名，即: com.example.pojo.UserDTO

        select 查询的标签必须设置属性 resultType 或 resultMap，用于设置实体类和数据库表的映射关系
        resultType: 自动映射，用于属性名和表中字段名一致的情况;
        resultMap: 自定义映射，用于一对多，多对一 或 字段名和属性名不一致的情况
    -->
    <select id="queryUser" resultType="UserDTO">
        select * from t_user where id = 4
    </select>

    <!-- 如果查询的结果是列表，resultType 需要指定为列表item的类型 -->
    <select id="queryAll" resultType="UserDTO">
        select * from t_user
    </select>

</mapper>